ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:8080
App__Name=TiendaOnline.Api
App__Version=1.0.0
# Auth - NUNCA versionar el SecretKey real. Mínimo 32 caracteres para HMAC-SHA256.
Auth__Issuer=TiendaOnline.Api
Auth__Audience=TiendaOnline.Clients
Auth__SecretKey=CHANGE_THIS_TO_A_SECURE_RANDOM_STRING_MIN_32_CHARS
Auth__TokenExpirationMinutes=60
Database__ConnectionString=Host=localhost;Port=5432;Database=tienda_online;Username=tienda_online;Password=tienda_online_local
Redis__ConnectionString=localhost:6379
